.dashboard {
    width: 100%;
    overflow: hidden;
    background: whitesmoke;
  }
  
  .dashboard .widget {
    background-color: #eee;
  }
  
  .widget .close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
  
  .handle {
    cursor: move;
  }